@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;600;700&display=swap');
@import url(./navbar.css);

:root{
  --fundo-escuro: #000;
  --fundo-card: #1d2226;
  --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
  --texto-principal: hsla(0, 0%, 100%, 0.9);
  --texto-secundario: hsla(0, 0%, 100%, 0.6);
  --texto-escuro: hsla(0, 0%, 0%, 0.75);
  --input: #38434F;
  --primario: #70b5f9;
  --positivo: #3ec786;
}

* {
  margin: 0;
  padding: 0;
}